<main class="blog-post px-4 py-20 sm:px-6 lg:px-8 flex-1 flex flex-col gap-12">
  <div class="mx-auto max-w-2xl prose dark:prose-invert">
    <h1 class="main mb-10">
      500 - Internal Server Error
    </h1>
    <h2 class="description-heading !font-bold mt-0">
      Something went wrong on our end
    </h2>
  </div>

  <div class="flex justify-center items-center text-white flex-1">
    <a class="vind-button" href="/" target="_blank" rel="noopener">
      <div style="background: linear-gradient(rgba(226, 182, 3, 0.5) -13.04%, rgba(3, 226, 71, 0.5) 136.96%); box-shadow: rgba(255, 232, 76, 0.3) 0px 10px 25px inset;">
        <p>
          Go back home
        </p>
      </div>
    </a>
  </div>
</main>

<.install_vind_banner />
