<%= raw("<?xml version=\"1.0\" encoding=\"UTF-8\"?>") %>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url :for={{url, last_mod} <- @routes}>
    <loc><%= @canonical <> url %></loc>
    <lastmod><%= last_mod %></lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
</urlset>
