<div class="text-white text-center install-vind-banner" id="install-vind-banner">
  <div
    class="py-[100px] px-4"
    style="background: radial-gradient(83% 83% at 50% 100%, rgb(85, 0, 255) 0%, rgb(66, 0, 197) 53%, rgb(29, 0, 87) 100%);"
  >
    <div class="flex flex-col gap-[40px]" style="opacity: 1;">
      <h3 class="sm:text-7xl text-5xl font-medium">
        Install Vind
      </h3>

      <div class="flex justify-center max-sm:flex-col gap-4">
        <a
          class="vind-button"
          href="https://chrome.google.com/webstore/detail/vind/ocohbenbjomofbknmcmaedadcmonedee"
          target="_blank"
          rel="noopener"
        >
          <div style="background: linear-gradient(rgba(226, 182, 3, 0.5) -13.04%, rgba(3, 226, 71, 0.5) 136.96%); box-shadow: rgba(255, 232, 76, 0.3) 0px 10px 25px inset;">
            <p>
              For Chrome
            </p>
          </div>
        </a>

        <a
          class="vind-button"
          href="https://addons.mozilla.org/en-US/firefox/addon/vind/"
          target="_blank"
          rel="noopener"
        >
          <div style="background: linear-gradient(rgba(195, 141, 8, 0.5) -13.04%, rgba(8, 195, 48, 0.5) 136.96%); box-shadow: rgba(250, 189, 69, 0.3) 0px 10px 25px inset;">
            <p class="framer-text">
              For Firefox
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
